<header class="header">
    <div class="logo">
        <a href="index.html"><img src="assets/images/logo.png" alt="CMIS Logo"></a>
        <h2>Case Management Information System</h2>
    </div>
    <nav class="navbar">
        <ul>
            <!-- ปุ่มเพิ่มรายชื่อ -->
            <li>

                <button class="primary-button add-button">
                    <img src="assets/images/save.png" alt="Add" class="add">
                    เพิ่มรายชื่อผู้ประสบปัญหาสังคม
                </button>
            </li>

            <!-- ปุ่ม Avatar -->
            <div class="dropdown">
                <button class="primary-button avatar-button">
                    <img src="assets/images/Avatar1.png" alt="CMIS Avatar" class="avatar">
                </button>
                <!-- Dropdown Menu -->
                <ul class="dropdown-menu">
                    <li><a href="profile.html">โปรไฟล์</a></li>
                    <li><a href="settings.html">การตั้งค่า</a></li>
                    <li><a href="logout.html">ออกจากระบบ</a></li>
                </ul>
            </div>
        </ul>
    </nav>
</header>