/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background: #FFD3B6;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 20px;
    background: white;
    border-bottom: 2px solid #ccc;
  }
  
  .logo img {
    width: 50px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .avatar img {
    width: 40px;
    border-radius: 50%;
    background-color: #666;
  }
  
  .user-details .role {
    font-size: 14px;
    color: #666;
  }
  
  .user-details .name {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Tabs */
  .tab-container {
    display: flex;
    justify-content: flex-start;
    background: #FFD3B6;
    padding: 0 45px;

  }
  
  .tab {
    padding: 10px 20px;
    margin: 10px 2px 0 10px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #ffffff;
    background: #000000;
    border-radius: 5px 5px 0 0;
    opacity: 50%;
  }

  .tab:hover {
    color: white;
    background: #ff7b54;
    opacity: 100%;
    border-radius: 5px 5px 0 0;
  }

  .tab.active {
    color: white;
    background: #ff7b54;
    opacity: 100%;
    border-radius: 5px 5px 0 0;
  }
  
  /* Content */
  .content-container {
    padding: 20px 40px 100% 40px;
    background: white;
    border-radius: 10px;
    margin: 0 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .content-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .search-btn,
  .add-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
  }
  
  .search-btn {
    background: #fff;
    border: 1px solid #ccc;
  }

  .search-btn:hover {
    background: #adadad;
    border: 1px solid #ccc;
  }
  
  .add-btn {
    background: #ff7b54;
    color: white;
  }

  .add-btn:hover {
    background: #ffa68b;
    color: white;
  }
  
  /* Table */
  .data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .data-table th,
  .data-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .data-table th {
    background: #f6f6f6;
    font-weight: bold;
  }
  
  /* Status Styles */
  .status {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
  }
  
  .status.received {
    background: #A4F6A5;
  }
  
  .status.processing {
    background: #FFDCA4;
  }
  
  .status.not-received {
    background: #A4C6FF;
  }
  
  .view-btn {
    padding: 5px 10px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    cursor: pointer;
  }
  